* {
    font-family: Arial;
    scroll-behavior: smooth !important;
}

header {
    background-color: #1F2937;
    margin: 0;
    padding: 10px;
    height: 450px;
}

.head {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#logo_img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 10%;
}

#header_buttons {
    margin-left: 45%;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
    align-self: center;
}


a {
    background-color: #1F2937;
    color: #E5E7EB;
    padding-left: 10px;
    text-decoration: none;
}

.dbgcolor {
    color: #f9faf8;
    padding: 0% 5%;
    width: 40%;
}

.dbgcolor h2 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.dbgcolor p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    color: #f9faf8;
    border-radius: 10px;
    background-color: #3882f6;
    font-size: 18px;
    padding: 10px 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#team_img {
    height: 300px;
    width: 540px;
}

#info {
    text-align: center;
}

.grid {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    text-align: center;
    margin: 0 15%;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    z-index: 3;
}

.grid div {
    width: 150px;
    
}

.box img {
    height: 150px;
    width: 150px;
    border-radius: 7px;
}

.test {
    display: inline-table;
    box-sizing: content-box;
    padding: 5%;
    background-color: #e5e7eb;
    height: 250px;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    width: 90%;
}

.test p {
    text-align: center;
    font-style: italic;
}

.test h4 {
    margin-left: 60%;
}

.end {
    padding: 10%;
}

.end .label {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 2% 5%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}


.end button {
    border: 1px solid white;
    height: fit-content;
    margin-top: 3%;
}

footer {
    display: flex;
    color: #E5E7EB;
    background-color: #1F2937;
    justify-content: center;
    padding: 10px;
    position: relative;
}