*{
}

header{
    display: flex;
    background-color: #1F2937;
    margin: 0;
    padding-top: 10px;
    height: 400px;
}

#header_buttons{
    margin-left: 55%;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

a{
    background-color: #1F2937;
    color: #E5E7EB;

}

#logo_img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-left: 20%;
}